
selector h2 + h3, selector h2 + span + h3 {
    margin-top: 24px !important;
}

selector h3 + h4 {
    margin-top: 0;
}

selector h2 {
margin-top: 72px;
counter-reset: passos;
}
selector :first-child {
margin-top: 0;
}

selector ol {
list-style: none;
padding-inline-start: 0px;
margin-top: 30px;
}
selector ol > li {
counter-increment: passos;
border-radius: var(--rounded);
padding: 2rem;
padding-left: 90px;
margin-bottom: 20px;
align-items: center;
position: relative;
border: 1px solid #0A43FF12;
}
selector ol > li:before {
content: counter(passos);
color: var(--text-color, #6366f1);
background-color: #0A43FF12;
border-radius: var(--rounded);
width: 3em;
height: calc(100% - 40px);
display: inline-flex;
font-weight: bold;
font-size: 16px;
justify-content: center;
padding-top: 13px;
position: absolute;
left: 20px;
top: 50%;
transform: translateY(-50%);
transition: background-color 0.3s;
cursor: pointer;
}

@media (max-width: 767px) {
selector ol > li {
display: block;
padding-left: 1.5rem;
padding-top: 90px;
}
selector ol > li:before {
top: 24px;
left: 24px;
transform: none;
height: 50px;
}
}
selector li > ul {
    margin-bottom: 0;
}

selector li > ul > li {
padding-top: 45px;
display: block;
padding-left: 0rem;
font-size: 14px;
line-height: 1.3em;
margin-bottom: -15px;
background-color: transparent;
}

selector li > ul > li:before {
top: 24px;
left: 0px;
transform: none;
background-color: var(--bg-color, #eef2ff);
transition: background-color 0.5s ease;
cursor: pointer;
}

selector ol > li > ul > li > ul > li {
padding: 1rem;
padding-left: 25px;
font-size: 12px;
}

selector ol > li > ul > p > code {
    font-size: 11px;
}

selector ol > li > ul > li > ul > li:before {
display: none;
}

selector ul {
list-style: none;
padding-inline-start: 0px;
margin-bottom: 40px;
}

selector ul > li {
padding: 0.5rem;

align-items: center;
position: relative;
overflow: hidden;
text-overflow: ellipsis;
}

selector div > ul > li {
border-bottom: 1px solid #00000015;
}

selector div > ul > li:has(li)::before {
top: 50%;
height: calc(100% - 32px);
}

selector li > ul > li:before {
content: '';
background-color: #2626360f;
border-radius: 10px;
width: 14px;
height: 14px;
position: absolute;
}

@media (max-width: 767px) {
selector ul > li {
display: block;
padding-left: 1.5rem;
padding-top: 50px;
}
selector ul > li:before {
top: 24px;
left: 24px;
transform: none;
}
}
selector p > a[href], selector li > a[href] {
padding: 2px 9px;
margin-left: 2px;
margin-right: 2px;
border-radius: var(--rounded-l);
font-size: calc(1em - 2px) !important;
line-height: 1.8em;
background-color: #EFF6FF !important;
color: #1D4ED8 !important;
outline: #4299E1 solid 1px !important;
white-space: nowrap;
}


selector p:not([class]) > strong {
    background: -webkit-linear-gradient(45deg, var(--btn-primary) 0%, var(--btn-secondary) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
